footer {
  text-align: center;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @apply font-sans;
  @apply bg-gray-800;
  @apply text-gray-200;
  // margin-top: 100px;
  width: 100%;
  @apply shadow-lg;
}
