header {
  z-index: 5000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  @apply bg-gray-700;
  @apply text-gray-200;
  @apply shadow-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  .link-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-align: center;
    }
  }

  a {
    // border: 1px solid red;
    text-align: center;
    @apply text-gray-400;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    &.current-page {
      color: white;
      @apply px-4;
      .icon-color {
        opacity: 1;
      }
    }
    @media (max-width: 800px) {
      font-size: 0.8em;
    }
  }

  .logo-link {
    width: 10%;
    padding: 0;
    a {
      width: 100%;
      padding: 0;
    }
    img {
      width: 100%;
      text-align: center;
      margin: auto;
      max-width: 60px;
      margin-bottom: 0;
    }
    @media (max-width: 800px) {
      width: 15%;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  .ulad-toggle {
    padding: 0;
    margin: 0;
    justify-content: start !important;
    padding-left: 5px;
    a {
      display: flex;
      flex-flow: row wrap;
      padding: 10px 0px;
    }
    .ulads {
      flex: 1 0 auto;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.8em;
      max-height: 40px;
      line-height: 20px;
      span {
        display: block;
      }
    }
    .toggle-container {
      border-radius: 6px;
      height: 40px;
      padding: 3px;
      width: 27px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: 10px;
      .toggle-ball {
        transition: all 0.3s;
        @apply bg-ronchi-500;
        height: 19px;
        width: 19px;
        border-radius: 4px;
        &.toggle-upu {
          margin-top: 12px;
          @apply bg-punch-500;
        }
      }
    }
    &:hover {
      .toggle-ball {
        // margin-top: 7px;
        @apply bg-ronchi-400;
        &.toggle-upu {
          @apply bg-punch-400;
        }
      }
    }

    @media (max-width: 800px) {
      width: 20% !important;
      padding-left: 15px;
      .ulads {
        display: block;
        font-size: 1.1em;
      }
      transform: scale(0.8);
    }
  }
  .ulad-toggle,
  .faq-link,
  .back-arrow {
    min-width: 110px;
    @media (max-width: 800px) {
      width: 20% !important;
    }
  }

  .calendar-link a:hover,
  .tochky-link a:hover {
    color: white;
    .icon-color {
      opacity: 1;
    }
  }
  .tochky-link,
  .calendar-link {
    width: 30%;
    span {
      margin-left: 5px;
    }
    @media (max-width: 800px) {
      a {
        // font-size: 0.9em;
        padding: 10px 15px;
      }
    }
    .icon-container {
      margin-right: 10px;
    }
    &:hover .icon-color {
      opacity: 1;
    }
    @media (max-width: 600px) {
      width: 25%;
      .header-link-word {
        display: none;
      }
      a {
        font-size: 2em;
      }
    }
  }
}

.faq-link {
  @apply text-green-400;
  display: block;
  justify-content: flex-end !important;
  padding-right: 5px;
  a {
    font-weight: lighter;
    padding: 0;
  }
  transition: all 0.3s;
  &:hover {
    @apply text-gray-200;
  }
  text-align: right;
  @media (max-width: 800px) {
    padding-right: 15px;
    min-width: 50px !important;
  }
}

.back-arrow {
  justify-content: flex-start !important;
  text-align: center;
  @media (max-width: 800px) {
    padding-left: 15px;
  }
}
