header {
  z-index: 5000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  @apply bg-gray-700;
  @apply text-gray-200;
  @apply shadow-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  .link-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid green;
  }
  .header-link {
    text-align: center;
    display: flex;
    align-items: center;
    a {
      text-align: center;
    }
  }

  a {
    // border: 1px solid red;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    @apply rounded-lg;
    padding: 10px 20px;
    position: relative;
    z-index: 100;
    &.current-page {
      color: white;
      @apply bg-gray-600;

      @apply px-4;
    }
  }

  .logo-link {
    display: flex;
    align-items: center;
    width: 10%;
    padding: 0;
    a {
      width: 100%;
      padding: 0;
    }
    img {
      width: 100%;
      text-align: center;
      margin: auto;
      max-width: 80px;
      margin-bottom: 0;
    }
  }

  .calendar-link a:hover,
  .tochky-link a:hover {
    color: white;
    @apply bg-gray-500;
    @apply rounded-lg;
    @apply px-4;
  }

  .faq-link {
    @apply text-green-400;
    padding-right: 0;
    a {
    }
    transition: all 0.3s;
    &:hover {
      @apply text-gray-200;
    }
    text-align: right;
  }

  .ulad-toggle {
    padding: 0;
    margin: 0;

    a {
      display: flex;

      flex-flow: row wrap;
    }
    .ulads {
      flex: 1 0 auto;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.8em;
    }
    .toggle-container {
      border-radius: 27px;
      height: 50px;
      padding: 3px;
      width: 27px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: 10px;
      .toggle-ball {
        @apply bg-ronchi-500;
        height: 19px;
        width: 19px;
        border-radius: 50%;
        &.toggle-upu {
          margin-top: 22px;
          @apply bg-punch-500;
        }
      }
    }
    &:hover {
    }
  }
  .ulad-toggle,
  .faq-link {
    width: 12%;
  }
  .tochky-link,
  .calendar-link {
    width: 30%;
  }
  @media (max-width: 1050px) {
    font-size: 0.7em;
  }
}
