@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "layout";
@import "backgrounds";
@import "icons";
@import "header";
@import "footer";
@import "tochky";
@import "activity";
@import "calendar";
@import "faq";

// .body-container {
//   height: 100vh;
// }

.body-container {
  min-height: calc(100vh);
  padding-top: 60px;
  &.homepage-page {
    @include topo-bg;
    padding-top: 0;
    margin-top: 0;
  }
  @include topo-bg-gray;
  background-attachment: fixed;
  main {
    min-height: 100vh;
    > div {
      max-width: 1200px !important;
      margin: auto;
      @apply p-8;
      min-height: 100%;
      @media (max-width: 800px) {
        @apply p-1;
      }
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoFancyContainer {
  width: 100%;
  max-width: 700px;
  padding: 50px;
}
